extends theader
    
block content
  h1 Admin Area
  p Welcome to the admin sections
     
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='javascripts/bootstrap.js')