extends layout

block content
  h1 Members Area
  p Welcome to the members area
  

   if user.usertype=='admin'
             li(class=(title == 'Admin' ? 'active' : ''))
               a(href='/') Admin
 if user.usertype=='accounts'
             li(class=(title == 'Accounts' ? 'active' : ''))
               a(href='/') accounts

    if user.usertype=='sales'
             li(class=(title == 'sales' ? 'active' : ''))
               a(href='/') sales